*{
    margin: 0;
    padding: 0;
}
.box{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    margin:10px;
    float: left;
    border: 2px solid blue;
    position: relative;
    overflow: hidden;
}
.box::before{
    content:'';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 1s;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgba(165, 42, 42, 0.404);
}
.box:hover::before{
    width: 300px;
    height: 300px;
    left:0;
    top:0;
}
.box1{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box1::before{
    content:'';
    width: 300px;
    height:300px;
    position: absolute;
    left: 50%;
    transition: 1s;
    box-sizing: border-box;
    background-color: rgba(165, 42, 42, 0.404);
}
.box1:hover::before{
    left:0;
}
.box1::after{
    content:'';
    width: 300px;
    height:300px;
    position: absolute;
    right: 50%;
    transition: 1s;
    box-sizing: border-box;
    background-color: rgba(165, 42, 42, 0.404);
}
.box1:hover::after{
    right:0;
}
.box2{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box2::before{
    content:'';
    width: 300px;
    height:300px;
    position: absolute;
    bottom: 50%;
    transition: 1s;
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box2:hover::before{
    bottom:0;
}
.box2::after{
    content:'';
    width: 300px;
    height:300px;
    position: absolute;
    top: 50%;
    transition: 1s;
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box2:hover::after{
    top:0;
}
.box3{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box3::before{
    content:'';
    width: 100%;
    height:50px;
    position: absolute;
    /* top: 0%; */
    left: -100%;
    /* bottom: 0%; */
    transition: 1s;
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box3:hover::before{
    /* top: 50%; */
    left:0;
    /* bottom: 50%; */
}
.box3::after{
    content:'';
    width: 100%;
    height:50px;
    position: absolute;
    /* top: 0%; */
    bottom: -100%;
    /* bottom: 0%; */
    transition: 1s;
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box3:hover::after{
    /* top: 50%; */
    bottom:0;
    /* bottom: 50%; */
}
.box4{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box4::before{
    content:'';
    width: 300px;
    height:300px;
    position: absolute;
    transition: 1s;
    bottom: 50%;
    right: 50%;
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box4:hover::before{
   bottom: 0;
   right: 0;
}
.box5{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box5::before{
    content:'';
    width: 0;
    height:0;
    position: absolute;
    transition: 1s;
    left: 50%;
    top: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box5:hover::before{
    width: 300px;
    height: 300px;
    left: 0;
    top: 50%;
}
.box6{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box6::before{
    content:'';
    width: 0;
    height:0;
    position: absolute;
    transition: 1s;
    left: 0;
    /* border-radius: 50%; */
    box-shadow:0 0 20px crimson;
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box6:hover::before{
    width: 300px;
    height: 300px;
    left: 50%;
}
.box7{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box7::before{
    content:'';
    width: 0;
    height:0;
    position: absolute;
    transition: 1s;
    bottom: 0%;
    right:0%;
    /* border-radius: 50%; */
    /* box-shadow:0 0 20px crimson; */
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box7:hover::before{
    width: 300px;
    height: 300px;
    right: 50%;
    bottom: 50%;
}
.box8{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box8::before{
    content:'';
    width: 0;
    height:0;
    position: absolute;
    transition: 1s;
    bottom: 50%;
    right:0%;
    /* border-radius: 50%; */
    /* box-shadow:0 0 20px crimson; */
    box-sizing: border-box;
    /* border: 2px solid red; */
    background-color: rgba(165, 42, 42, 0.404);
}
.box8:hover::before{
    width: 300px;
    height: 300px;
    right: 50%;
    bottom: 0%;
}
.box9{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    /* margin: auto; */
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box9::before{
    content:'';
    width: 100%;
    height:20px;
    position: absolute;
    transition: 1s;
    right: -100%;
    background-color: rgba(165, 42, 42, 0.404);
}
.box9:hover::before{
    /* width:0; */
    /* height:0; */
    left: 0;
    right: 0;
    /* top: 0; */
    /* border-radius: 50%; */
}
.box10{
    width: 300px;
    height: 300px;
    background-image: url('../img/management-skills1.webp');
    background-size: cover;
    background-color: blueviolet;
    border: 2px solid blue;
    margin:10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.box10::before{
    content:'';
    width:100%;
    height:5px;
    /* box-sizing: border-box; */
    position: absolute;
    /* border: 2px solid red; */
    background-color: darkblue;
    left:-100%;
    /* bottom:0; */
    transition: 1s;
}
.box10:hover::before{
    left: 0;
    bottom: 0;
}
.box10::after{
    content: '';
    width: 100%;
    height: 5px;
    box-sizing: border-box;
    position: absolute;
    background-color: darkblue;
    left: -100%;
    /* top: 0; */
    transition: 1s;
}
.box10:hover::after{
    left: 0;
    /* top: 0; */
}
/* .box10::before{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    box-sizing: border-box;
    background-color: darkblue;
    top: -100%;
}
.box10:hover::before{
    left: 0;
    top: 0;
    bottom: 0;
} */


