*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
section{
    display: flex;
    flex-wrap: wrap;
}
section img{
    height: 50px;
    width: 50px;
    margin: 50px;
    cursor: pointer;
}
section #img{
    width: 100%;
    height: 300px;
}